
<section class="overlap {data.flexform_field_hpos}">
    <h3 class="overlap-title {data.flexform_field_color}">
        <f:if condition="{data.flexform_field_link}">
            <f:then>
                <f:link.page pageUid="{data.flexform_field_link}">{data.flexform_field_heading}</f:link.page>
            </f:then>
            <f:else>
                {data.flexform_field_heading}
            </f:else>
        </f:if>
        <span class="overlap-border {data.flexform_field_ulinebgcolor}"></span>
    </h3>
    <div class="overlap-content {data.flexform_field_mainbgcolor}" style="height: {data.flexform_field_baseheight}px">
        <f:format.raw>{data.tx_gridelements_view_column_10}</f:format.raw>
    </div>
    <div class="overlap-content-below {data.flexform_field_stbgcolor}" style="height: {data.flexform_field_bottomheight}px">
        <f:format.raw>{data.tx_gridelements_view_column_20}</f:format.raw>
    </div>
</section>