<f:layout name="Default" />
<f:section name="content">
<table  class="armpackage" >
	<tr>
            <th>Reg-Nr.</th>
            <th>Username</th>
            <th>Datum</th>
            <th>Abonnement</th>
            <th>Betrag</th>
            <th>Anzahl Verkaufshäuser</th>
            <th>Rabatt</th>
            <th>Total</th>
            <th>Zahlungsstatus</th>
	</tr>

	<f:for each="{registrations}" as="reg">
            <f:render partial="Package/List" arguments="{_all}" />
	</f:for>
</table>
    <center>
        <f:link.action action="listall">Back to list</f:link.action>
    </center>
</f:section>