<div class="packitem">
    <p class="psub text-center"><strong>{package.subtitle}</strong></p>
    <h2 class="ptitle text-center">{package.title}</h2>
    <div class="pbrief"><f:format.raw>{package.brief}</f:format.raw></div>
    <f:if condition="{package.dsprate}">
        <f:if condition="{0:package.dsprate} > {0:package.rate}">
            <div class="strprice text-center"><strike>&euro; <f:format.number decimals="2" decimalSeparator="," thousandsSeparator="." >{package.dsprate}</f:format.number> / <f:translate key="tx_armpackage_domain_model_package.month" />*</strike></div>
        </f:if>
    </f:if>
    <div class="pprice text-center">&euro; <f:format.number decimals="2" decimalSeparator="," thousandsSeparator="." >{package.rate}</f:format.number> / <f:translate key="tx_armpackage_domain_model_package.month" />*</div><br>
    <f:if condition="{package.additionalcost}">
        <p class="text-center">{package.additionalcost}</p>
    </f:if>
    <p class="text-center">
    <f:if condition="{login}">
        <f:then>
            <f:link.action action="register" arguments="{package:package}" class="reglink"><f:translate key="tx_armpackage_domain_model_package.register" /></f:link.action>
        </f:then>
        <f:else>
            <f:link.page pageUid="{settings.loginPid}" class="reglink"><f:translate key="tx_armpackage_domain_model_package.register" /></f:link.page>
        </f:else>
    </f:if>
    </p>
    <f:if condition="{package.privatepkg}">
        <f:else>
            <div class="pnote text-center">
                <f:format.raw>{package.note}</f:format.raw>
            </div>
        </f:else>
    </f:if>
</div>