<div class="packminiitem">
    <p class="psub text-center"><strong>{package.subtitle}</strong></p>
    <h2 class="ptitle text-center">{package.title}</h2>
    <f:if condition="{package.dsprate}">
        <f:if condition="{0:package.dsprate} > {0:package.rate}">
            <div class="strprice text-center"><strike>&euro; <f:format.number decimals="1" decimalSeparator="," thousandsSeparator="." >{package.dsprate}</f:format.number> / <f:translate key="tx_armpackage_domain_model_package.month" />*</strike></div>
        </f:if>
    </f:if>
    <div class="pprice text-center">&euro; <f:format.number decimals="1" decimalSeparator="," thousandsSeparator="." >{package.rate}</f:format.number> / <f:translate key="tx_armpackage_domain_model_package.month" />*</div>
    <div class="pnote text-center">* Der Abo Preis pro Monat gilt pro Standort, an dem furnplan installiert ist und angewendet wird.</div>
    <p class="text-center">
        <f:link.action action="register" arguments="{package:package}" class="reglink">jetzt bestellen</f:link.action>
    </p>
</div>