<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="content">
            <h1>furnplan academy kurs</h1>
            <f:flashMessages />
            <f:if condition="{packages}">
                <div class="row">
                    <f:for each="{packages}" as="package">
                        <div class="col-sm-4">
                            <f:render partial="Package/List" arguments="{_all}" />
                        </div>
                    </f:for>
                </div>
            </f:if>
    </f:section>
</html>