<div class="tx_armpackage frame-type-login">
    <div class="tx-felogin-pi1">
        <f:flashMessages />
        <div id="userprocess"></div>
        <br>
        <div class="col-xs-8 col-xs-offset-2">
            <div class="page-login-form box">                
                <h4>Login WohnberaterIn</h4>
                <f:form class="login-form felogin" action="login" method="post">
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="icon fa fa-user"></i>
                            <f:form.textfield id="puser" name="puser" class="form-control" placeholder="Benutzernamen Ihres Unternehmens" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon">
                             <i class="icon fa fa-building"></i>
                             <f:form.textfield id="company" name="company" class="form-control" readonly="1" placeholder="Unternehmen" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="icon fa fa-at"></i>
                            <f:form.textfield id="studentemail" name="studentemail" class="form-control" placeholder="Persönliche E-Mail Adresse" />
                        </div>
                    </div>
                    <f:form.submit name="sub" class="btn btn-common log-btn" value="weiter" />
                    <f:form.hidden name="feuser" id="feuser" />
                </f:form>
                <div id="bformoverlay"> 
                    <f:image src="{f:uri.resource(path:'Icons/bx_loader.gif')}" />
                </div>
            </div>
        </div>
    </div>
</div>