{namespace arm=ARM\Armpackage\ViewHelpers}
<div class="tx_armpackage">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1 col-md-7 col-md-offset-2">
                <f:flashMessages />
                <div id="buyprocess"></div>
                <br>
                <f:form class="form-horizontal" action="confirm" method="post">
                    <div class="form-group row">
                        <label class="col-sm-5 control-label">Preis für Abonnement / <f:translate key="tx_armpackage_domain_model_package.month" /> Euro</label>
                        <div class="controls col-sm-7">
                            <f:form.textfield id="rate" name="rate" class="form-control" value="{package.rate->f:format.number(decimals:2,decimalSeparator:',',thousandsSeparator:'.')}" readonly="1" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 control-label">Anzahl Standorte *</label>
                        <div class="controls col-sm-7">
                            <f:form.textfield type="number" id="packqty" name="qty" class="form-control" value="{qty}" />
                            <div class="pknote">bitte geben Sie hier die Anzahl Verkaufs-standorte an, in denen Furnplan Installert ist.</div>
                        </div>
                    </div>
                     <div class="form-group row">
                        <label class="col-sm-5 control-label">Betrag Euro</label>
                        <div class="controls col-sm-7">
                            <f:form.textfield id="amount" name="amount" readonly="1" class="form-control" value="{amount}" />
                        </div>
                    </div>
                     <div class="form-group row">
                        <label class="col-sm-5 control-label">Rabatt* Euro</label>
                        <div class="controls col-sm-7">
                            <f:form.textfield id="discount" name="discount" readonly="1" class="form-control" value="{discount}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-5 control-label">Total Euro</label>
                        <div class="controls col-sm-7">
                            <f:form.textfield id="total" name="total" readonly="1" class="form-control" value="{total}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-5 controls col-sm-7">
                            <f:if condition="{total}">
                                <f:then>
                                     <f:form.submit id="btnsub" name="sub" class="btn btn-default" value="Bestellen" />
                                </f:then>
                                <f:else>
                                     <f:form.submit id="btnsub" name="sub" value="Bestellen" disabled="1" />
                                </f:else>
                            </f:if>                           
                            <f:form.hidden name="feuser" id="feuser" value="{feuser}" />
                            <f:form.hidden id="package" name="package" value="{package.uid}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-5 controls col-sm-7">
                            <f:if condition="{package.rebate2}">
                                bei 2 Standorten {package.rebate2}% Rabatt: Euro <arm:discount discount="{package.rebate2}" rate="{package.rate}" /><br>
                            </f:if>
                            <f:if condition="{package.rebate3to10}">
                                bei 3 bis 10 Standorten {package.rebate3to10}% Rabatt: Euro <arm:discount discount="{package.rebate3to10}" rate="{package.rate}" /><br>
                            </f:if>
                            <f:if condition="{package.rebatemt10}">
                                bei mehr als 10 Standorten {package.rebatemt10}% Rabatt: Euro <arm:discount discount="{package.rebatemt10}" rate="{package.rate}" /><br>
                            </f:if>
                        </div>
                    </div>
                </f:form>
                <div id="bformoverlay"> 
                    <f:image src="{f:uri.resource(path:'Icons/bx_loader.gif')}" />
                </div>
            </div>
        </div>
    </div>
</div>