<img src="https://www.marktmacher.com/typo3conf/ext/armtemplate/Resources/Public/images/logo.jpg" width="100" height="100" alt="" border="0">
<br>
<p>
Guten Tag {fname} {lname},<br><br>

    Bestätigung: Ihre Anmeldung und Zahlung haben wir registriert, vielen Dank!<br>
    Nach der Bestätigung der Zahlung durch unseren Payment Dienstleister werden Sie die Rechnung/Quittung per Email erhalten.
<br>
</p>

<h2>Zahlung</h2>
<p>Rechnungsnummer: {orderid}<br>
Total: {currency} {total}<br>
Datum: {pdate}<br>
Zahlungsstatus: {pstatus}<br>
Abonnement: {package}<br>
Anzahl Verkaufshäuser: {qty}<br>
MwSt.: {vat}<br>
Rabatt: {discount}<br>
</p>
<p><br>
Mit nettem Gruss,<br>
Marcel Kuriger<br>
<a href="https://www.marktmacher.com">marktmacher.com</a>
</p>
