<img src="https://www.marktmacher.com/typo3conf/ext/armtemplate/Resources/Public/images/logo.jpg" width="100" height="100" alt="" border="0">
<br>
<p>
Guten Tag {fname} {lname},<br><br>
<f:if condition="{status}">
<f:then>
    Der Zahlungsvorgang mit Kreditkarte war erfolgreich.
</f:then>
<f:else>
Der Zahlungsvorgang mit Kreditkarte war nicht erfolgreich.
</f:else>
</f:if>
<br>
</p>

<h2>Zahlung</h2>
<p>Rechnungsnummer: {orderid}<br>
Total: {currency} {total}<br>
Datum: {pdate}<br>
Zahlungsstatus: {pstatus}<br>
Abonnement: {package}<br>
Anzahl Verkaufshäuser: {qty}<br>
Anzahl Seminar-Teilnehmer: {noofpart}<br>
MwSt.: {vat}<br>
Rabatt: {discount}<br>
</p>
<p><br>
Mit nettem Gruss,<br>
Marcel Kuriger<br>
<a href="https://www.marktmacher.com">marktmacher.com</a>
</p>
