<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.address" />
            </div>
            <div class="col-sm-4"><f:cObject typoscriptObjectPath="lib.imgLinks" /></div>
            <div class="col-sm-4"><f:cObject typoscriptObjectPath="lib.linkList" /></div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <f:cObject typoscriptObjectPath="lib.footerMenu" />   
                </div>
                <div class="col-sm-2">
                    <a href="{facebookUrl}" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>