<header class="header2">
    <div class="header-text"><f:cObject typoscriptObjectPath="lib.fplogo" /></div>
    <nav class="header-nav">
        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
        <div class="header-nav__content">
            <f:cObject typoscriptObjectPath="lib.mainMenu" />        
        </div> 
    </nav> 
    <a class="header-menu-toggle" href="#0" class="scrollh">
        <span class="header-menu-icon"></span>
    </a>
    <div class="scrollv">
        <div class="row">
            <div class="col-sm-3">
                <f:cObject typoscriptObjectPath="lib.fplogo" />
            </div>
            <div class="col-sm-9">
                <f:cObject typoscriptObjectPath="lib.colorMenu" /> 
            </div>
        </div>
    </div>
</header>