<header class="header2">
    <div class="insidemenu">
        <div class="row">
            <div class="col-xs-2">
                <f:cObject typoscriptObjectPath="lib.fplogo" />
            </div>
            <div class="col-xs-10">
                <div class="hidden-xs">
                    <f:cObject typoscriptObjectPath="lib.colorMenu" /> 
                </div>
                <div class="visible-xs">
                    <nav class="header-nav">
                        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
                        <div class="header-nav__content">
                            <f:cObject typoscriptObjectPath="lib.mainMenu" />        
                        </div> 
                    </nav> 
                    <a class="header-menu-toggle" href="#0" class="scrollh">
                        <span class="header-menu-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>