<p>Sehr geehrte Damen und Herren,</p>
<br>
<p>Die furnplan academy hat Ihr Verkaufsteam sicher schon einige Schritte voran gebracht und dazu beigetragen, noch erfolgreicher zu planen und zu verkaufen.</p>
<p>Ihr Abo für das Seminar läuft am {date} aus und die Erneuerung steht somit an. Stellen Sie sicher, dass Ihre WohnberaterInnen auch künftig von der furnplan academy profitieren und sich auch das Zertifikat erarbeiten können.</p>
<p>Sollten Sie diese Verlängerung nach Ablauf des folgenden Abos nicht mehr benötigen, können Sie dieses 1 Monat vor Ablauf kündigen. Die Details sehen Sie in den Nutzungsbedingungen auf der Website von Marktmacher.com.</p>
<br>
<p>Herzlichen Dank und weiterhin viel Erfolg<br>Mit nettem Gruss</p>
<br>
<p>Marktmacher.com / furnplan academy<br>Marcel Kuriger</p>