<p>Sehr geehrte Damen und Herren,</p>
<br>
<p>Ihr Abo für die Seminare der furnplan academy ist ausgelaufen. Für Ihr, und das Engagement Ihrer WohnberaterInnen bedanke ich mich herzlich. Mit Sicherheit trägt diese Weiterbildung in furnplan zum Erfolg Ihres Unternehmens bei.</p>
<p>Ich würde mich sehr freuen, wenn Sie die Seminare zu einem späteren Zeitpunkt wieder besuchen werden. Denn "Nichts ist so beständig, wie der Wandel."</p>
<br>
<p>Also, hoffentlich bis bald.<br>Mit nettem Gruss</p>
<br>
<p>Marktmacher.com / furnplan academy<br>Marcel Kuriger</p>