{namespace arm=ARM\Armpackage\ViewHelpers}
<tr>
    <td>{reg.uid}</td>
    <td><arm:user userid="{reg.feuser}" /></td>
    <td>
        <f:format.date format="d.m.Y">{reg.crdate}</f:format.date>
    </td>
    <td>{reg.ptitle}</td>
    <td>{reg.currency} {reg.rate}</td>
    <td>{reg.qty}</td>
    <td><f:if condition="{reg.discount}>0">
        <f:then>
            {reg.currency} {reg.discount}
        </f:then>
        <f:else>
            -
        </f:else>
    </f:if></td>
    <td>{reg.currency} {reg.total}</td>
    
    <f:switch expression="{reg.status}">
        <f:case value="3">
            <td>Rejected</td>
            <td>-</td>
            <td>-</td>
        </f:case>
        <f:case value="2">
            <td>Paid</td>
            <td><f:format.date format="d.m.Y">{arm:expiry(uid:reg.uid)}</f:format.date></td>
            <td><f:format.date format="d.m.Y">{reg.rdate}</f:format.date></td>
        </f:case>
        <f:case value="1">
            <td>Unpaid</td>
            <td>-</td>
            <td>-</td>
        </f:case>
        <f:case value="0">
            <td>Unpaid</td>
            <td>-</td>
            <td>-</td>
        </f:case>
    </f:switch>
    <td>
        <f:if condition="{arm:sendReminder(uid:reg.uid)}">
            <f:link.action action="reminder" arguments="{registration:reg}">Send Reminder</f:link.action>
        </f:if>
    </td>
</tr>