{namespace femanager=In2code\Femanager\ViewHelpers}

<div class="row control-group">
    <label class="col-sm-5 control-label">
        <f:translate key="tx_femanager_domain_model_user.noofcounsellor" />
        <f:if condition="{femanager:validation.IsRequiredField(fieldName:'noofcounsellor')}">
            <span>*</span>
        </f:if>
    </label>
       <div class="controls col-sm-7">
        <femanager:form.textfield
            id="femanager_field_noofcounsellor"  property="noofcounsellor" class="form-control" />
    </div>
</div>
