{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="row control-group">
   <label class="col-sm-5 control-label">
       <f:translate key="tx_femanager_domain_model_user.usergroup" />
   </label>
    <div class="controls col-sm-7">
        <femanager:form.select
            id="femanager_field_usergroup"
            name="user[usergroup][0]"
            options="{allUserGroups}"
            optionValueField="uid"
            optionLabelField="title"
            sortByOptionLabel="1"            
            value="{femanager:Misc.GetFirst(objectStorage:user.usergroup)}"
            additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'usergroup')}" />
    </div>
</div>